@import '~bootstrap/scss/bootstrap';

  body {
    background-color: #92a8d1;
  }
  h1 {
    padding: 5px;
    color: #cd5c5c;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    background:	#FFFF99;
  }
  h2 {
    padding: 10px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
form {
  text-align: center;
}
 .board{
    margin: auto;
    text-align: center;
    color: #cd5c5c;
    // setting max size of board to be 100% of //  the view port
    max-height: calc(100vh - 75px);
    max-height: calc(100vh - 75px) ;
 }
.row.board{
  width: 400px;
  height: 400px;
  margin: auto;
  color: #cd5c5c;
}
button{
  height: 60px;
  color:#FFFF99;
  background-color:#cd5c5c ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 5px;
  border-radius: 8px;
  margin-right: auto;

}
p {
  align-self: center;
  font-size: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  text-align: center;
  position: relative;
}
#sign-in{
 background-color: #FFFF99;
 padding-bottom: 20px;
}

h3{
   padding: 5px;
    color: #cd5c5c;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    background:	#FFFF99;
}
